/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* анимация стрелочки у активной темы */
@keyframes active-theme {
    0% {
        translate: 0;
    }

    50% {
        translate: 4px;
    }

    100% {
        translate: 0;
    }
}

/* анимация частей svg сердца */
.like-icon .core {
    fill: transparent;
    transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
    fill: var(--heart-contour-color);
    transition: fill 0.3s linear;
}

.card__icon-button:active .core {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
}

.like-icon .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
    fill: var(--heart-contour-color);
    transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .main-body {
    fill: var(--heart-fill-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
    fill: var(--heart-contour-color);
    transition: fill 0.1s linear;
}

/* анимация закраски сердца когда поставлен лайк */
.like-icon.is-liked .core {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--heart-fill-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
    fill: var(--heart-fill-color);
    transition: fill 0.3s 0.06s linear;
}

/* анимация увеличения svg когда ставится лайк */
.like-icon.is-liked .heart {
    transform-origin: center;
    animation: scale-animation 0.3s ease-in 0.1s 1;
}

@keyframes scale-animation {
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/* для искр у сердца прозрачный цвет */
.like-icon .sparks {
    opacity: 0;
}

/* анимация цвета у сердца когда поставили лайк */
.like-icon.is-liked .sparks {
    animation: sparks-animation 0.3s ease-in 0.3s 1;
}

@keyframes sparks-animation {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
