/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font, sans-serif);
    font-variation-settings: var(--font-weight-text);
    color: var(--accent-color, #000);
    background-color: var(--bg-color, #fff);
    background-image: var(--bg-image);
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
}

.content-decor {
    border: 2px solid var(--accent-color, #000);
    background-color: var(--bg-color);
    width: var(--section-width);
    align-self: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 100px 0;
    font-family: var(--alt-font, sans-serif);
    padding-top: 120px;
    padding-bottom: 20px;
}

@media (width >= 700px) {
    .header {
        padding-top: 136px;
    }
}

.header__title {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-text {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.theme-menu__button {
    margin-left: 20px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.theme-menu__button:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
    outline: none;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.theme-menu__button::after {
    content: "";
    display: block;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color: var(--accent-color);
    opacity: 0.6;
    transform-origin: left;
}

.theme-menu__button:focus-visible::after {
    transform: scaleX(1);
}

.theme-menu__button:disabled {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.theme-menu__button:disabled::before {
    content: "▶";
    position: absolute;
    margin-left: -20px;
    animation: active-theme 0.5s ease-in-out infinite;
}

@keyframes active-theme {
    0% {
        translate: 0;
    }

    50% {
        translate: 4px;
    }

    100% {
        translate: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card-title {
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 700;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-image {
    width: 100%;
    border: 2px solid var(--accent-color, #000);
}

.card-label {
    position: relative;
}

.card-label::before {
    content: "</html>";
    position: absolute;
    font-family: var(--alt-font, sans-serif);
    color: var(--accent-color, #000);
    opacity: 0.5;
    mix-blend-mode: hard-light;
    text-shadow: -1px 0 var(--text-shadow-color), 1px 0 var(--text-shadow-color),
        0 -1px var(--text-shadow-color), 0 1px var(--text-shadow-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    inset-inline-end: 12px;
    inset-block-start: 23px;
}

@supports (
    (text-stroke: 1px var(--text-shadow-color)) or
        (-webkit-text-stroke: 1px var(--text-shadow-color))
) {
    .card-label::before {
        -webkit-text-stroke: 1px var(--text-shadow-color);
        text-stroke: 1px var(--text-shadow-color);
        text-shadow: none;
    }
}

@media (width >= 700px) {
    .card-label::before {
        inset-inline-end: 25px;
        inset-block-start: 25px;
    }
}

.card-text-section {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 0 26px;
}

.card-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.like-section {
    display: flex;
    gap: 12px;
    padding: 0 25px 16px 25px;
    justify-content: flex-end;
}

.card__icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card__like-button {
    position: relative;
    width: 130px;
    height: 38px;
    font-family: var(--alt-font, sans-serif);
    background-color: transparent;
    border: 2px solid var(--accent-color, #000);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.card__like-button::after {
    content: "";
    position: absolute;
    inset: 0 0 -1px 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    background-color: var(--accent-color);
    transform-origin: left;
}

.card__like-button:hover::after {
    transform: scaleX(1);
}

.button__text {
    position: relative;
    z-index: 2;
    color: var(--hover-color);
    mix-blend-mode: difference;
}

.card__like-button:focus {
    outline: none;
}

.card__like-button:focus-visible {
    box-shadow: 2px 2px 0 var(--accent-color);
    transition: box-shadow 0.3s ease;
}

.card__icon-button {
    width: 41px;
    height: 38px;
    border: 2px solid transparent;
}

.like-icon {
    transform: translate(-7px, -2px);
}

.sparks {
    opacity: 0;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border-color: var(--accent-color);
    transition: border-color 0.3s ease;
}

.card__icon-button:hover .like-icon .heart .core {
    fill: var(--heart-contour-color);
    transition: fill 3s linear;
}

.footer {
    padding: 53px 0 104px 0;
}

.save-button {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 306px;
    height: 80px;
    font-family: var(--alt-font, sans-serif);
    background-color: var(--bg-color, #fff);
    border: 2px solid var(--accent-color, #000);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.save-button::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    background-color: var(--accent-color);
    transform-origin: left;
}

.save-button:hover::after {
    transform: scaleX(1);
}

.save-button:focus {
    outline: none;
}

.save-button:focus-visible {
    box-shadow: 2px 2px 0 var(--accent-color);
    transition: box-shadow 0.3s ease;
}

@media (width >= 700px) {
    .save-button {
        flex-direction: row;
        width: 335px;
        height: 51px;
    }
}

.floppy-image {
    position: relative;
    z-index: 2;
    color: var(--hover-color);
    mix-blend-mode: difference;
    width: 28px;
}

@media (width >= 700px) {
    .floppy-image {
        width: 21px;
    }
}
