/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: "Inter-Variable";
    --alt-font: "Press Start 2P";
    --font-weight-title: 700;
    --font-weight-text: 400;
    --bg-color: #fff;
    --accent-color: #000;
    --text-shadow-color: #fff;
    --bg-image: repeating-linear-gradient(
            to right,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        repeating-linear-gradient(to bottom, #e7e7e7, #e7e7e7 2px, #1a1a1a 2px, #1a1a1a 4px);
    --section-width: clamp(375px, 100%, 700px);
}
